mixin search(additionalClass)
  form.search(class=additionalClass, action="#", method="get")
    input.search__input(type='text', placeholder="Поиск товара по названию")
    button.search__button
    