mixin item(brand, name, picture, additionalClass)
  .item(class=additionalClass)
    a.item__brand(href="#") #{brand}
    a.item__name(href="#") #{name}
    a.item__picture-container(href="#")
      img.item__picture(src="img/"+picture, alt="Photo")
    .item__price от 1187 руб.
    a.item__button(href="#") Заказать