mixin brands(additionalClass)
  .brands(class=additionalClass)
    .brands__row
      .brands__letter A
      .brands__list
        a.brands__item.brands__item--bold(href="#") Abercrombie & Fitch
        a.brands__item(href="#") Acqua Di Genova
        a.brands__item(href="#") Acqua di Parma
        a.brands__item(href="#") Acqua Di Stresa
        a.brands__item(href="#") Adam Levine
        a.brands__item.brands__item--bold(href="#") Adidas
        a.brands__item(href="#") Adolfo Dominguez
        a.brands__item(href="#") Aigner
        a.brands__item(href="#") Ajmal
        a.brands__item(href="#") Al Hamatt
        a.brands__item(href="#") Al Haramain Perfumes
        a.brands__item(href="#") Alexandre J
        a.brands__item.brands__item--bold(href="#") Alfred Dunhill
        a.brands__item(href="#") Alfred Sung
        a.brands__item(href="#") Alviero Martini
        a.brands__item(href="#") Alyson Oldoini
        a.brands__item(href="#") American Eagle Outfitters
        a.brands__item.brands__item--bold(href="#") Amouage
        a.brands__item(href="#") Andy Roddick
        a.brands__item(href="#") Andy Warhol
        a.brands__item.brands__item--bold(href="#") Angel Schlesser
        a.brands__item(href="#") Annayake
        a.brands__item(href="#") Annick Goutal
        a.brands__item.brands__item--bold(href="#") Antonio Banderas
        a.brands__item(href="#") Antonio Puig
        a.brands__item(href="#") Aquolina
        a.brands__item(href="#") Arabian Oud
        a.brands__item(href="#") Aramis
        a.brands__item.brands__item--bold(href="#") Armand Basi
        a.brands__item(href="#") Arrogance
        a.brands__item(href="#") Asgharali
        a.brands__item(href="#") Atelier Cologne
        a.brands__item(href="#") Atkinsons
        a.brands__item(href="#") Axis
    .brands__row
      .brands__letter B
      .brands__list
        a.brands__item.brands__item--bold(href="#") Baldinini
        a.brands__item(href="#") Balenciaga
        a.brands__item(href="#") Balmain
        a.brands__item.brands__item--bold(href="#") Banana Republic
        a.brands__item(href="#") Bejar
        a.brands__item(href="#") Ben Sherman
        a.brands__item(href="#") Benetton
        a.brands__item(href="#") Bentley
        a.brands__item(href="#") Bijan
        a.brands__item(href="#") Bill Blass
        a.brands__item(href="#") Boadicea
        a.brands__item(href="#") Bobby Jones
        a.brands__item.brands__item--bold(href="#") Bogart
        a.brands__item(href="#") Bond
        a.brands__item(href="#") Borsalino
        a.brands__item(href="#") Bottega Veneta
        a.brands__item(href="#") Boucheron
        a.brands__item(href="#") Breil
        a.brands__item.brands__item--bold(href="#") Bruno Banani
        a.brands__item(href="#") Brut
        a.brands__item.brands__item--bold(href="#") Burberry
        a.brands__item.brands__item--bold(href="#") Bvlgari
        a.brands__item(href="#") Byblos
        a.brands__item(href="#") Byredo