mixin top-bar(additionalClass)
  .top-bar(class=additionalClass)
    .wrapper.top-bar__wrapper
      p.top-bar__recent Только что купили: 
        a.top-bar__recent-link(href="#") Salvatore Ferragamo Salvatore Ferragamo Туалетные духи тестер 100 мл 2329 руб
      +enter
      